/* Font */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Standard setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Background */

body {
  background: hsl(185, 75%, 39%);
  height: 100vh;
  overflow: hidden;
  font-family: 'Kumbh Sans', sans-serif;
}

.background-circles img {
  position: absolute;
}

#top-pattern {
  z-index: -1;
  top: -350px;
  width: 800px;
}

#bottom-pattern {
  z-index: -1;
  bottom: -350px;
  left: 712px;
  width: 800px;
}

/* Profile Card Styling */

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  z-index: 1;
  background: #fff;
  border-radius: 6%;
}

.card #profile-pattern {
  display: relative;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
  height: 125px;
}

#age,
h3,
.metrics {
  color: hsl(229, 23%, 23%);
  font-weight: 400;
}

h1,
h3 {
  align-self: center;
  padding: 4px;
  margin-bottom: 10px;
}

h1,
h4 {
  font-size: 18px;
}

#age {
  font-size: 15px;
}

h3,
.metrics {
  font-size: 12px;
}

hr {
  height: 0.1px none;
  color: #ffffff;
}

#stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
}

.metrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
}

/* how can we overlap the image with the background? */
.card #victor {
  display: relative;
  z-index: 1;
  border-radius: 50%;
  align-self: center;
  height: 75px;
  width: 75px;
  top: 4px;
}

#victor {
  margin-top: -40px;
  margin-bottom: 30px;
}
